/*ADJUSTMENTS*/
body {
  margin: 0;
}
h1 {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 60px;
  letter-spacing: 0;
}
h2 {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 30px;
  /* identical to box height */
  letter-spacing: 0;
}
h3 {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
}
h4 {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
}
h5 {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.145em;
  text-transform: uppercase;
}
a {
  text-decoration: none;
  color: black;
}
p {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: 24px;
  font-size: 14px;
}
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

/* BUTTONS */
.mainBtn {
  border-radius: 40px;
  width: 170px;
  height: 48px;
  background: white;
  color: #dd5751;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.145em;
  text-transform: uppercase;
  border: none;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.mainBtn:hover {
  background-color: #dd5751;
  box-shadow: 0px 15px 20px rgba(221, 87, 81, 0.31);
  color: #fff;
  transform: translateY(-7px);
}
.btn {
  border-radius: 40px;
  width: 180px;
  height: 48px;
  background: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.145em;
  text-transform: uppercase;
  border: 1px solid #dd5751;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  padding: 5px 10px;
}

.secondBtn {
  color: #dd5751;
}
.secondBtn:hover {
  color: white;
}

.btn::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #dd5751;
  z-index: -1;
  transition: 0.8s;
}

.secondBtn::before {
  top: 0;
  border-radius: 0 0 0 0;
}
.secondBtn:hover::before {
  height: 180%;
}

.linkBtn {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.145em;
  text-transform: uppercase;
  text-decoration: none;
  background: none;
  border: none;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  border-bottom: 2px solid black;
  bottom: 0;
}

.linkBtn:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  border-bottom: 2px solid #dd5751;
  bottom: 0;
  transition-property: left, right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.linkBtn:hover:before,
.linkBtn:focus:before,
.linkBtn:active:before {
  left: 0;
  right: 0;
}

/*NAVIGATION */
nav {
  width: 100vw;
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  transition: background-color 0.4s ease-out;
}
.scroll {
  background-color: #e7e9e9;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}
ul {
  margin: 5px;
  padding: 5px;
  display: flex;
  height: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-delay: 1s;
  top: 0px;
  font-size: 2.5em;
  letter-spacing: 20px;
  text-align: center;
}

.navlist {
  box-shadow: inset 100vh 100vw 0 #eb9e9b;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 90;
  position: fixed;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.hidden {
  box-shadow: none;
  opacity: 0;
  pointer-events: none;
}

.hidden li {
  transition: all 0ms ease !important;
}

.navbutton {
  display: block;
  padding: 20px;
  font-size: 24px;
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}

.hidden li {
  transform: translateY(0);
  opacity: 0;
}

li {
  list-style-type: none;
  margin-top: 0;
  padding: 5px;
  max-width: 300px;
  height: 60px;
  text-align: center;
  align-self: center;
  transform: translateY(90px);
  opacity: 1;
}
.home {
  opacity: 1;
  transition: all 0.3s ease;
}
.swim {
  opacity: 1;
  transition: all 0.3s 0.4s;
}
.lounge {
  opacity: 1;
  transition: all 0.3s 0.5s;
}
.food {
  opacity: 1;
  transition: all 0.3s 0.7s;
}
.coffee {
  opacity: 1;
  transition: all 0.3s 0.9s;
}
.events {
  opacity: 1;
  transition: all 0.3s 1.1s;
}
.share {
  opacity: 1;
  transition: all 0.3s 1.4s;
}
.styleGuide {
  opacity: 1;
  transition: all 0.3s 1.9s;
}

.logo {
  align-self: center;
  align-items: center;
  padding: 10px 20px;
}
#navA {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: #505050;
  padding: 2vw;
  display: block;
  transition: all 0.2s ease-in-out;
}
#navA:hover {
  background-color: #dd5751;
  padding: 1vw;
  opacity: 0.8;
}
/*banner
.banner-style {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 590px;
}*/

/* Cards */
.card-photo-lg {
  position: relative;
  width: 556px;
  height: 449px;
  display: flex;
  align-items: center;
}
.photo-lg {
  position: relative;
  border-radius: 0px;
  width: 100%;
  height: 100%;
}

.card-photo-overlay {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  height: 95%;
  width: 95%;
  opacity: 0;
  transition: 0.8s ease;
}
.overlayswim {
  background-color: #d2f4fa;
}
.card-photo-lg:hover .card-photo-overlay {
  opacity: 1;
}
.card-photo-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  transform: translate(-50%, -50%);
}
/* Medium Card dimension */
.card-photo-md {
  position: relative;
  width: 440px;
  height: 356px;
  display: flex;
  justify-content: center;
}

.photo-md {
  position: relative;
  border-radius: 0px;
  width: 100%;
  height: 100%;
}

.captionmd {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-photo-md:hover .card-photo-overlay {
  opacity: 1;
}

/* small card dimension */
.card-photo-sm {
  position: relative;
  width: 324px;
  height: 262px;
  display: flex;
  justify-content: center;
}
.photo-sm {
  position: relative;
  border-radius: 0px;
  width: 100%;
  height: 100%;
}

.photo-title {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.overlaysm {
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  height: 90%;
  width: 90%;
  opacity: 0;
  transition: 0.8s ease;
}
.captionsm {
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-photo-sm:hover .card-photo-overlay {
  opacity: 1;
}

.captionswim {
  color: #17308f;
}
.card-icons {
  display: flex;
}
.smicon {
  padding: 10px;
  fill: #17308f;
}
.card-link {
  display: flex;
  justify-content: space-between;
}
.overlaylounge {
  background-color: #fcf4d6;
}
.captionlounge {
  color: #dd5751;
}
.overlayapero {
  background-color: #f8d5a1;
}
.captionapero {
  color: #ec652b;
}
.overlayevent {
  background-color: #e7e0ef;
}
.captionevent {
  color: #6135ac;
}

/* descriptive card */
.card-photo-caption-description {
  background: #e7e9e9;
  height: 410px;
  padding: 20px;
}
.card-photo-caption-desc {
}

/* first Form */
/* title of Form*/
.simpleForm-title {
  width: 70%;
  border-bottom: 2px solid black;
  text-align: center;
  color: #dd5751;
  margin: 20px;
  text-transform: uppercase;
}
.simpleForm {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  border-radius: 4px;
  width: 200px;
  height: 40px;
  border: 1px solid #505050;
  cursor: pointer;
  font-size: 16 px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.simpleForm input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background-color: #e7e9e9;
  z-index: -1;
}

/* On mouse-over, add a light pink background color */
.simpleForm:hover input ~ .checkmark {
  background-color: #f0b5b3;
}

/* When the checkbox is checked, add a background */
.simpleForm input:checked ~ .checkmark {
  background-color: #dd5751;
}

/* Footer */
footer {
  background-color: #e7e9e9;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 64px;
  width: 100vw;
}
.footer-links {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.footer-link-btn {
  margin: 20px;
}

/* 
@media only screen and (max-width: 1400px) {
  h1 {
    font-size: 1em;
    letter-spacing: 0.4em;
  }
}
@media only screen and (max-width: 320px) {
  h1 {
    font-size: 1em;
    letter-spacing: 0.4em;
  }
}
 */
