body {
  margin: 0;
}

.video-banner {
  background: #fcf4d5;
  background-blend-mode: hard-light;
  position: relative;
  width: 100vw;
  height: 100vh;
}
.video-banner-video {
  position: relative;
  z-index: 0;
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;

  opacity: 0.8;
}
.video-header-text {
  position: absolute;
  color: black;
  display: flex;
  justify-content: center;
  text-align: center;
  top: 30%;
  left: 45%;

  z-index: 1;
  font-size: 4vw;
  text-transform: uppercase;
  text-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
}

/*animated text */
.type {
  z-index: 1;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  animation: typing 3s steps(23);
  opacity: 0;
  border-right: 3px solid #d2f4fa;
  position: absolute;
  text-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
  top: 70%;
}

.type1 {
  animation-delay: 1s;
}

.type2 {
  animation-delay: 4s;
}

.type3 {
  animation-delay: 8s;
}
.type4 {
  animation-delay: 12s;
}
.type5 {
  animation-delay: 16s;
}

.type6 {
  animation-delay: 20s;

  animation-fill-mode: forwards;
}

@keyframes typing {
  0% {
    width: 0ch;
    opacity: 0;
  }
  1% {
    width: 0ch;
    opacity: 1;
  }
  90% {
    width: 70vw;
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.enterBTN {
  position: absolute;
  top: 70%;
  left: 48%;
  border-radius: 40px;
  width: 177px;
  height: 56px;
  background: #dd5751;
  border: none;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  z-index: 9999;
}

#btn {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.145em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
}

/*this is to fix media sizes*/
