.banner-style {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 590px;
  border-bottom: 1px solid #e2d8d8;
  animation: blinking 5s infinite;
}
@keyframes blinking {
  10% {
    background-color: #dd5751;
    color: #fcf4d5;
  }

  50% {
    background-color: #f8d5a1;
    color: #ec652b;
  }
  70% {
    background-color: #d2f4fa;
    color: #17308f;
  }

  100% {
    background-color: #e7e0ef;
    color: #6135ac;
  }
}
.style-groups {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e2d8d8;
  margin-top: 0px;
}
.style-group-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
  max-width: 1450px;
}
.style {
  width: 413px;
  height: 191px;
  background: #e7e9e9;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.style a {
  text-decoration: none;
  color: black;
}
.section-title {
  margin: 20px;
}

.typography-dimensions {
  margin-top: 60px;
  border-bottom: 1px solid #e2d8d8;
}
.typography-dimensions-container {
  margin: 20px;

  background: #e7e9e9;
  padding: 20px;
  border-radius: 4px;
}

.paragraphs {
  display: flex;
  justify-content: space-evenly;
}
.typography-dimensions-container-descriptions {
  position: relative;
  padding: 40px;
  width: 380px;
}
.small-paragraph {
  width: 150px;
  padding: 40px;
}
.section-subtitle {
  margin-left: 20px;
}
.primarycolor-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  max-width: 1450px;
}

.primarycolor {
  width: 140px;
  height: 100px;
  border-radius: 4px;
  position: relative;
  margin-right: 20px;
}
.primarycolor-subtitle {
  width: 140px;
  height: 27px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #e7e9e9;
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.box1 {
  background: #dd5751;
  margin-top: 20px;
}
.box2 {
  background: #e57f7b;
  margin-top: 20px;
}
.box3 {
  background: #eb9e9b;
  margin-top: 20px;
}

.box4 {
  background: #f0b5b3;
  margin-top: 20px;
}
.maincolor-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  margin-top: 20px;
  margin-bottom: 60px;
}

.mainbox1 {
  background: #6135ac;
  margin-top: 20px;
}
.mainbox2 {
  background: #e7e0ef;
  margin-top: 20px;
}
.mainbox3 {
  background: #17308f;
  margin-top: 20px;
}
.mainbox4 {
  background: #d2f4fa;
  margin-top: 20px;
}
.mainbox5 {
  background: #22ad96;
  margin-top: 20px;
}
.mainbox6 {
  background: #c0eee7;
  margin-top: 20px;
}
.mainbox7 {
  background: #dd5751;
  margin-top: 20px;
}
.mainbox8 {
  background: #fcf4d5;
  margin-top: 20px;
}
.mainbox9 {
  background: #505050;
  margin-top: 20px;
}
.mainbox10 {
  background: #e7e9e9;
  margin-top: 20px;
}
.color-specifications-container {
  border-bottom: 1px solid #e2d8d8;
  margin-top: 60px;
  margin-bottom: 60px;
}
.button-specifications {
  border-bottom: 1px solid #e2d8d8;
  margin-top: 60px;
  margin-bottom: 60px;
}
.button-specifications-container {
  margin-left: 20px;

  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.button-container {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
}
.card-specifications-container {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.card-photo-lg {
  margin: 10px;
}
.forms {
  display: flex;
  flex-wrap: wrap;
}

.simpleForm-container {
  margin: 20px;
  width: 70%;
}

.icon-container {
  display: flex;
  margin-left: 40px;
}

/*form*/
.simpleForm-title {
  border-bottom: 2px solid black;
  text-align: center;
  color: #dd5751;
  margin: 20px;
  text-transform: uppercase;
}

.simpleForm {
  margin-bottom: 12px;
  border-radius: 4px;
  width: 260px;
  height: 40px;
  border: 1px solid #505050;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16 px;
}
label {
  display: flex;
  align-items: center;
  border-radius: 4px;
  width: 235px;
  height: 41px;
  z-index: 2;
  padding-left: 25px;
}
input:checked ~ label {
  color: #fff;
  background-color: #ffdb4d;
  border: 1px solid #fcf4d6;
}
.form-text {
  padding-left: 25px;
}
.simpleForm-title {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 40px;
}
.form-container {
  margin: 40px;
}

.form-center {
  display: flex;
  justify-content: center;
}
.simpleForm input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 180;
  width: 60;
}
.input-icon {
  margin-right: 15px;
}
.share-form:hover {
  background: #fcf4d6;
  border: 1px solid #ffdb4d;
}
